.loader {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $darkGray;
  @include flex(column, center, center);
  color: $gold;
  z-index: 1000;
  img {
    height: 9vh;
    width: auto;
    transform: rotate(360deg);
    position: relative;
    bottom:3vh;
  }
}
