.footer {
  height: 10vh;
  width: 100%;
  background-color: $darkGray;
  color: $white;
  position: absolute;
  bottom: 0;
  @include flex(column, center, center);
  gap: 4vh;
  @include media($xs) {
    @include flex(column, center, center);
    gap: 2vh;
    height: 15vh;
  }

  @include flex(column, center, center);
  gap: 1vh;
  .call-us,
  .email-us {
    @include flex(row, center, center);
    gap: 6px;
  }
  a {
    text-decoration: none;
    font-size: 1.1rem;
    font-family: $fontFamily;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
  .website {
    @include flex(row, center, center);
    gap: 6px;
    a {
      text-decoration: none;
      font-size: 1.1rem;
      font-family: $fontFamily;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon {
      color: $gold;
    }
  }
  .copyright {
    @include flex(row, center, center);
    font-size: $linkFS;
    text-align: center;
    font-size: $linkFS;
    text-align: center;
    span {
      color: $gold;
      font-size: 2rem;
      margin-right: 6px;
      position: relative;
      bottom: 0rem;
    }
    @include media($xs) {
      @include flex(row, center, flex-start);
      span {
        bottom: 0.2rem;
      }
    }
  }
}
