.navbar {
  min-height: 8vh;
  max-height: 14vh;
  z-index: 1000;
  height: fit-content;
  width: 100%;
  background-color: $darkGray;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-out;
  @include fadeAnimation(0.3s, 0.1s);
  @include flex(row, space-between, center);
  padding: 0vh 5vw;
  @include media($md) {
    padding: 0.2vh 2vw;
  }
  .logo {
    @include flex(row, center, center);
    height: fit-content;
    width: fit-content;
    @include media($xs) {
      display: block;
      margin-top: 0.5rem;
      margin-left: 0rem;
    }
    img {
      height: 10vh;
      width: auto;
    }
  }
  .navigation {
    @include flex(column, center, center);
    height: fit-content;
    .hamburger {
      background-color: transparent;
      border: none;
      position: fixed;
      cursor: pointer;
      top: 3.5vh;
      right: 5vw;
      color: $white;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    .links {
      @include flex(row, space-around, center);
      height: 8vh;
      width: fit-content;
      gap: 3rem;
      @include media($md) {
        height: fit-content;
        @include flex(column, flex-end, flex-end);
        padding: 5rem 0rem 1rem 0;
        margin-right: 2vw;
        gap: 1rem;
        display: none;
      }
      .phone {
        @include flex(row, center, center);
        a {
          text-decoration: none;
          font-size: $linkFS;
          font-family: $fontFamily;
          color: $white;
          transition-property: transform;
          transform: scale(1);
          transition-duration: 100ms;
          transition-timing-function: ease-in;
          &:hover {
            color: $gold;
            transform: scale(1.1);
            color: $gold;
            @include media($md) {
              transform: scale(1);
              color: $white;
            }
          }
          &:focus {
            color: $gold;
          }
        }
      }
      button {
        background-color: transparent;
        border: none;
        color: $white;
        font-size: $linkFS;
        cursor: pointer;
        font-weight: 500;
        transition-property: border, transform;
        transform: scale(1);
        transition-duration: 100ms;
        transition-timing-function: ease-in;
        &:hover {
          transform: scale(1.1);
          color: $gold;
          @include media($md) {
            transform: scale(1);
            color: $white;
          }
        }
        &:focus,
        &:active {
          border: none;
          color: $gold;
        }
      }
    }
  }
}
@include media($md) {
  .active {
    min-height: 25vh;
    max-height: 35vh;
    .links {
      display: flex !important;
      animation: linksSlideIn 1s ease-in 0s;
    }
  }
}
@keyframes linksSlideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
