.hero {
  @include backgroundObjectImage(100%, 90vh);
  @include flex(column, center, center);
  padding: 0vh 5vw;
  gap: 2vh;
  @include media($md) {
    @include backgroundObjectImage(100%, 100vh);
    @include flex(column, center, center);
    padding: 25vh 0vw;
  }
  .heading {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    @include slideInAnimation(0.4s, 0.6s);
    @include flex(column, center, center);
    gap: 2vh;
    position: relative;
    bottom: 5vh;
    @include media($xs) {
      padding: 4vh 0rem;
      bottom: 10vh;
      width: 100%;
      border-radius: 0px;
    }
    h1 {
      font-size: 5.5rem;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      color: $white;
      text-shadow: 2px 2px $black;
      @include slideInAnimation(0.5s, 1s);
      @include media($sm) {
        font-size: 4.5rem;
        text-align: center;
        width: 80%;
      }
      @include media($xs) {
        font-size: 3.5rem;
        text-align: center;
        width: 96%;
      }
    }
    h2 {
      color: $white;
      font-size: 2.5rem;
      position: relative;
      font-weight: 500;
      @include slideInAnimation(0.5s, 1.4s);
      @include media($sm) {
        left: 0vw;
        text-align: center;
        width: 80%;
        font-size: 2.1rem;
      }
      @include media($xs) {
        left: 0vw;
        text-align: center;
        width: 96%;
        font-size: 1.8rem;
      }
    }
  }
}
