.home {
  height: fit-content;
  @include fadeAnimation(0.4s, 0.1s);
  @include flex(column, center, center);
  padding: 2vh 0;
  h1 {
    font-family: $fontFamily;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: $darkGray;
    text-align: center;
    @include media($xs) {
      width: 96%;
    }
  }
  .categories {
    @include pageSectionPadding;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 5vh;
    justify-content: space-around;
    @include media($md) {
      @include flex(column, center, center);
    }
  }
}
