.layout {
  width: 100%;
  height: fit-content;
  @include fadeAnimation(0.4s, 0s);
  @include flex(column, none, none);
  position: relative;
  @import "./components/Footer/Footer";
  @import "./components/Navbar/Navbar";
  .app {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 10vh 0 0 0;
    @include media($md) {
      padding: 8vh 0 0vh 0;
    }
  }
  .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    @include media($sm) {
      bottom: 12px;
      right: 15px;
    }
    @include media($xs) {
      bottom: 7.5px;
      right: 10px;
    }
    z-index: 10;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: pointer;
    img {
      width: 90px;
      height: auto;
      @include fadeAnimation(0.4s, 0.1s);
      @include media($lg) {
        width: 90px;
        height: auto;
      }
      @include media($md) {
        width: 80px;
        height: auto;
      }
      @include media($xs) {
        width: 70px;
        height: auto;
      }
    }
  }
}
