.luxury-watches {
  height: fit-content;
  @include flex(column, center, center);
  .hero {
    .heading {
      background-color: rgba(0, 0, 0, 0.699);
      width: 100%;
      height: 100%;
    }
  }
  .watches-brands {
    @include pageSectionPadding;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 2.5vh;
    justify-content: space-around;
    @include media($md) {
      @include flex(column, center, center);
    }
    .card {
      h2 {
        font-size: 1.8rem;
        color: $darkGray;
        font-weight: bold;
      }
    }
  }
}
